<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create product</h1>
<p>
    <a href="/products">product list</a>
</p>
<form action="" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><input type="text" name="price"/></td>
        </tr>
        <select name="category">
            <option th:each="cate : ${category}" th:value="${cate.getId()}" th:text="${cate.getName()}"></option>
        </select>


                <div>
                    <label>Image</label>
                    <input type="file" name="image"/>
                </div>
                <div>
                    <label>Image Link</label>
                    <input type="text" name="imageLink"/>
                </div>
                <button> create</button>
<!--                <input type="submit" value="Save"/>-->

<!--        <tr>-->
<!--            <td><input type="submit" value="Create product"></td>-->
<!--        </tr>-->
    </table>
</form>
</body>
</html>
